{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block page_title%}Betago에 오신 걸 환영합니다.{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script>
            $(document).ready(function(e) {
                var callback = function(data) {
                    var elements = [];
                    elements.push('<h3>'+data.title+'</h3>');
                    elements.push('<p>'+String(data.pk)+'</p>');

                    $('#ajax_test_div').append(elements.join(''));
                }
                $.getJSON('/ajax_test/', callback);
            });
        </script>
    </head>

    <body>

        <div id="ajax_test_div"></div>

        {% block content %}{% endblock %}

    </body>
</html>
